:root {
  --state-900: #1f314f;
  --state-500: #68778d;
  --background-color: #d5e1ef;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.card-component {
  background-color: var(--white);
  min-height: 60vh;
  width: 40vh;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--state-900);
  text-align: center;
  padding: 0 15px;
}

p {
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--state-500);
  text-align: center;
  padding: 0px 15px;
}

.qr-img {
  max-width: 90%;
  margin: 15px;
  border-radius: 5%;
}
